<div class="card-deck">
        <div *ngIf="product.title" class="card">
          <img *ngIf= "product.imageUrl" class="card-img imgsize" [src]="product.imageUrl"  alt="">
          <div class="card-body">
            <h4 class="card-title">{{product.title}}</h4>
            <p class="card-text">{{product.price|currency :'USD':true}}</p>
            <div *ngIf="showAction" class="card-footer">
                <button *ngIf="shoppingCart.getQuantity(product)===0; else updateQuantity" (click)="addtoCart()" class="btn btn-primary btn-block">Add to Cart</button>
                <ng-template #updateQuantity>
                  <app-product-quantity [product]="product" [shoppingCart]="shoppingCart"></app-product-quantity>
                </ng-template>
            </div>
          </div>
        </div>
      </div>
