<div class="card-deck">
        <div *ngIf="product.title" class="card">
          <img *ngIf= "product.imageUrl" class="card-img imgsize" [src]="product.imageUrl"  alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{product.title}}</h4>
            <p class="card-text">{{product.price|currency :'USD':true}}</p>
            <div *ngIf="showAction" class="card-footer">
                <button *ngIf="getQuantity()===0; else updateQuantity" (click)="addtoCart()" class="btn btn-primary btn-block">Add to Cart</button>
                <ng-template #updateQuantity>
                  <div class = "row">
                    <div class="col-2">
                      <button class="btn btn-secondary btn-block" (click)="removeFromCart()"> - </button>
                    </div>
                    <div class="col text-center">
                      <div>{{getQuantity()}} in cart</div>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-secondary btn-block" (click)="addtoCart()"> + </button>
                    </div>
                  </div>
                </ng-template>
               
            </div>
          </div>
        </div>
      </div>
