 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="\assets\static\yy.png" width="60" height="60" alt="">
    <a class="navbar-brand" routerLink = '/cart'>
      <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
      <span *ngIf="cart$|async as cart" class="badge badge-pill badge-warning">
        {{cart.totalItemsCount}}
      </span>
    </a>
    <ng-template #anonymousUser>
    <a class="navbar-brand" routerLink = '/login'>Login</a>
  </ng-template>
  <a class="navbar-brand" routerLink = '/check-out'>Checkout</a>
    <div *ngIf="appUser;else anonymousUser" ngbDropdown class="d-inline-block">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" ngbDropdownToggle>{{appUser.name}}</a>
      <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
        <a routerLink="my/orders" ngbDropdownItem>My Orders </a>
        <ng-container *ngIf="appUser.isAdmin">
        <a routerLink="admin/orders" ngbDropdownItem>Manage Orders</a>
        <a routerLink="admin/products" ngbDropdownItem>Manage Products</a>
      </ng-container>
        <a ngbDropdownItem (click) = "logout()" class="clickProperty">Log Out</a>
      </div>
    </div>
  </nav>