<h3> Shopping Cart </h3>
<ng-container *ngIf="cart$|async as cart">
   <p>You have {{cart.totalItemsCount}} in the shopping cart.</p> 
   <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" > </th>
        <th scope="col" > </th>
        <th scope="col" class="text-left">Product</th>
        <th scope="col" class="text-center">Quantity</th>
        <th class="text-right" scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items" >
        <th scope="row"></th>
        <td><img [src]="item.product.imageUrl" class="thumbnail"></td>
        <td class="text-left">{{item.product.title}}</td>
        <td>
          <app-product-quantity [product]="item.product" [shoppingCart]="cart"></app-product-quantity>
        </td>
        <td class="text-right">{{item.totalPrice}}</td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">Total</td>
          <td class="text-right">{{cart.totalSum}}</td>
        </tr>
      </tfoot>
      </table>
      <button class="btn btn-danger btn-sm btnSize" (click)="clearCart()">clear cart</button>
</ng-container>


