<h3> Shopping Cart </h3>
<ng-container *ngIf="cart$|async as cart">
   <!-- <p>You have {{cart.totalItemsCount}} in the shopping cart.</p>  -->
   <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> </th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items" >
        <th scope="row"></th>
        <td>{{item.product.title}}</td>
        <td>
          <app-product-quantity [product]="item.product" [shoppingCart]="cart"></app-product-quantity>
        </td>
        <td>{{item.totalPrice}}</td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>{{cart.totalSum}}</td>
        </tr>
      </tfoot>
      </table>

</ng-container>


