<h3> Shopping Cart </h3>
<ng-container *ngIf="cart$|async as cart">
   <!-- <p>You have {{cart.totalItemsCount}} in the shopping cart.</p>  -->
   <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> </th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productId of cart.productIds" >
        <th scope="row"></th>
        <td>{{cart.items[productId].product.title}}</td>
        <td>{{cart.items[productId].quantity}}</td>
        <td>@mdo</td>
      </tr>
      </tbody>
      </table>

</ng-container>


